/*Here are height and width classnames*/
/*sizes*/
.height1{
	height:10px;
}
.height2{
	height:20px;
}
.height3{
	height:30px;
}
.height4{
	height:40px;
}
.height5{
	height:50px;
}
.height6{
	height:60px;
}
.height7{
	height:70px;
}
.height8{
	height:80px;
}
.height9{
	height:90px;
}
.height10{
	height:100px;
}
.height11{
	height:110px;
}
.height12{
	height:120px;
}



.width1{
	width:10px;
}
.width2{
	width:20px;
}
.width3{
	width:30px;
}
.width4{
	width:40px;
}
.width5{
	width:50px;
}
.width6{
	width:60px;
}
.width7{
	width:70px;
}
.width12{
	width:120px;
}
.width25{
	width:250px;
}
.width32{
	width:320px;
}
