/*globals*/
*{
	margin:0px;
	padding:0px;
}
/*.show-layout{
	outline:solid white;
}*/

/*header*/
header{
	width:100%;
}
.header-icon{
	color:white;
}

/*main*/
.main-section_container{
	padding-top:120px;
	min-height:80vh;
	background-image:url("./images/netflix-background.jpg");
	background-size:cover;
	background-position:center;
}
.main-section_container h1{
	font-family: 'Roboto', sans-serif;
	letter-spacing:-1px;
	font-size:60px;
}
.container-black{
	background-color:#000;
}

.poster-container img{
	width:100%;
}

/*footer*/
.list-style-none{
	list-style:none;
}
footer ul li:hover{
	text-decoration:underline;
}

/*colours*/
.bg-red-netflix{
	background-color:#e30813;
}
.color-red-netflix{
	color:#e30813;
}

/*medias*/
@media only screen and (max-width:990px){
	header, .navbar{
		background-color:#212529;
	}
	.main-section_container h1{
		font-size:40px;
	}
}
